.product_wrapper {
    cursor: pointer;
    transition: transform 400ms ease;
}

.product_wrapper:hover {
    transform: translateY(-20px);
}

.product_container {
    position: relative;
    padding: 2.3rem;
    max-width: 300px;
    width: 100%;
}

.image_wrapper::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    transition: 'all .3s ease';
    filter: blur(30px);
    z-index: -1;
}

.image_wrapper {
    position: relative;
    top: 1.25rem;
    left: 0;
    height: 230px;
    background-image: var(--background-image);
}
